################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrianglePlaquette/.vs/TrianglePlaquette/v16/Browse.VC.opendb
